input{
  height: 30px;
  width: 300px;
  box-sizing: border-box;
}

.btn-add{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    box-sizing: border-box;
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
}

.btn-add:hover{
  background-color: blueviolet;
}

.input-div{
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.main{
  display: grid;
  grid-template-columns: auto auto;
}

.article{
  display: flex;
  flex-direction: row;
  background-color: #80808022;
  height: 50px;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.btn-remove{
  background-color: red;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 40px;
}

.btn-remove:hover{
  opacity: 0.5;
}

.list-stask{
  margin: 30px 0;
}